<html>
<head>
    <link rel="stylesheet" href="/public/main.css" />
</head>
<body>
    <h1>
        this is index template file
    </h1>

    {{title}}
    <form method="post" action="/form-submit">
        <input name="name" value="{{name}}">
        <input type="submit" value="click me" />
    </form>
    <br />
    {{#lines}}
        - {{.}} <br/>
    {{/lines}}
</body>
</html>
