<html>
<head>
    <link rel="stylesheet" href="/public/main.css" />
</head>
<body>
    <a href="/add" class="add-new">Add new new</a>
    <h1>
        {{title}}
    </h1>



    {{#articles}}
        <div class="item">
            <a href="/{{id}}">{{title}}</a>
        </div>
    {{/articles}}



</body>
</html>
