<html>
<head>
    <link rel="stylesheet" href="/public/main.css" />
</head>
<body>
    <a href="/add" class="add-new">Add new new</a>
    <h1>
        {{title}}
    </h1>



    {{#articles}}
        <div class="item">
            <a href="/{{id}}">{{title}}</a>
        </div>
    {{/articles}}

    <button id="xxx2">ajax button</button>
    <div id="vvv">empty</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/public/main.js"></script>

</body>
</html>
